## ignore this file##
**/*.aux
**/*.aux.bak
**/*.bbl
**/*.bcf
**/*.blg
**/*.dvi
**/*.fdb_latexmk
**/*.fls
**/*.idx
**/*.idx.bak
**/*.ilg
**/*.ind
**/*.lof
**/*.log
**/*.lol
**/*.lot
**/*.nav
**/*.out
**/*.ps
**/*.spl
**/*.xdv
**/*.snm
**/*.synctex.gz
**/*.toc
/**/_minted-{jobname}
/{output_dir}/sage-plots-for-{jobname}.tex
/missfont.log
/texput.log
/texput.aux
